<?xml version="1.0"?>
<config>
  <modules>
    <KL_Corefix>
      <version>0.0.1</version>
    </KL_Corefix>
  </modules>
  <global>
    <helpers>
      <corefix>
        <class>KL_Corefix_Helper</class>
      </corefix>
    </helpers>
	<models>
	  <corefix>
		<class>KL_Corefix_Model</class>
		<resourceModel>corefix_mysql4</resourceModel>
	  </corefix>
			<customer>
				<rewrite>
					<customer_api>KL_Corefix_Model_Customer_Customer_Api</customer_api>
				</rewrite>
			</customer>
	</models>
  </global>
</config> 